*~
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.o
*.a
*.so
*.sw?
*.opt
*.actual
*.merlin

/_build
/_opam
/autom4te.cache
/bitstring-objinfo
/bitstring_config.ml
/cil-tools/Makefile
/config.h
/config.log
/config.status
/create_test_pattern
/dune.lock
/META
/Makefile
/site
/tests/80_testdata/*.actual
/tests/test.bmpp
/bitstring.install
byteswap.h
